#tools
{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#colour-grid
{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container
{
    display: grid;
    align-items: stretch;
    border: 2px solid black;
}

.cell-border
{
    border: 1px solid black;
}

.button
{
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 6px;
    font-size: 10pt;
    border-radius: 8%;
}

.outset
{
    border-style: outset;
}

.inset
{
    border-style: inset;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}