#options, .optBlock
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#options
{
    flex-wrap: wrap;
}

.optBlock
{
    justify-content: space-between;
    flex-grow: 1;
    margin: 10px 0;
}

#colour-grid
{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 0 0 10px;
}

#rainbow
{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#buttons, .input
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


input:focus
{
    outline-width: 0;
}

input[type=number]
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.container
{
    display: grid;
    align-items: stretch;
    border: 2px solid black;
}

.button
{
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 4px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border-radius: 8%;
}

.outset
{
    border-style: outset;
}

.inset
{
    border-style: inset;
}

.cell-border
{
    border: 1px solid black;
}

.swatch-outline
{
    outline: 2px outset #999999;
    z-index: 10;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}